.contact-container {
    max-width: var(--container-60-max-width);
    padding: var(--container-60-padding);
    margin: 0 auto;
}

.contact-contents {
    font-family: var(--lato-font);
    max-width: var(--container-60-max-width);
    padding: 0 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.contact-container h2 {
    font-family: var(--sagoe-font);
    text-transform: uppercase;
    font-size: var(--section-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-heading-line-height);
    letter-spacing: var(--section-heading-letter-spacing);
    text-align: center;
    margin: 10px 0;
}

.contact-sub-heading {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    font-style: italic;
    opacity: var(--section-sub-heading-opacity);
    text-align: center;
    margin: var(--section-sub-heading-margin);
    padding-bottom: 15px;
}

.address {
    width: 49.99%;
    margin-bottom: 16px;
}

.contact-form {
    width: 49.99%;
}

.address p {
    margin: 0;
}

.address i {
    width: 30px;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 400;
}

.address span {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

form input {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    width: calc(50% - 5px);
    padding: 10px;
    display: block;
    border: 1px solid #ccc;
}

form textarea {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.send-button {
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    line-height: var(--section-sub-heading-line-height);
    font-weight: var(--font-weight-400);
    cursor: pointer;
    text-transform: uppercase;
    margin-left: auto;
}

.send-button:hover {
    background-color: #ccc;
    color: black;
}

@media only screen and (max-width: 600px) {
    .address {
        width: 100%;
    }
    
    .contact-contents {
        flex-direction: column;
    }
    
    .contact-form {
        width: 100%;
    }
    
    form input {
        width: 100%;
        margin: 10px 0;
    }
}
