.map img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.footer-container {
    padding: var(--container-60-padding);
    background-color: #f1f1f1;
}

.social {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.6;
}

.copyright {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    opacity: var(--section-sub-heading-opacity);
    text-align: center;
}