.hero {
    width: 100%;
    max-width: 1920px;
    position: relative;
    padding-top: 50px;
    z-index: 1;
}

.carousel-item {
    display: none;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-image-desc {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    padding: 30px;
}

.carousel-image-desc > h3 {
    font-family: var(--sagoe-font);
    font-size: 0.938rem;
}

.carousel-image-desc > p {
    font-family: var(--lato-font);
    font-size: 0.938rem;
}

@media only screen and (max-width: 600px) {
    .hero {
        padding-top: 0;
    }
    
    .carousel-image-desc {
        display: none;
    }
}