@import "root.css";

.navbar {
    font-family: var(--lato-font);
    position: fixed;
    top: 0;
    width: 100%;
    /*overflow: hidden;*/
    background-color: #000;
    height: 50px;
    z-index: 2;
}

.hamburger-menu {
    display: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.nav-item, .extended-dropdown {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.nav-item li {
    margin: 0;
    padding: 0;
}

.nav-item li:last-child {
    margin-left: auto;
}

.nav-item li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

.nav-item li a:hover {
    background-color: #ccc;
    color: #000;
}

.nav-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #000;
    top: 50px;
    left: 0;
    margin: 0;
    z-index: 10;
    padding: 0;
}

.nav-dropdown li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid gray;
}

.more {
    position: relative;
}

.extended-dropdown {
    display: none;
    position: absolute;
    width: 160px;
    background-color: #000;
    top: 50px;
    left: 0;
    margin: 0;
    z-index: 11;
    padding: 0;
}

.extended-dropdown li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.more:hover .extended-dropdown {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar {
        position: initial;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .nav-item {
        display: none;
    }
    
    .show {
        display: flex;
    }
}

