
:root {
    --container-60-width: 60%;
    --container-60-max-width: 800px;
    --container-60-padding: 64px 16px 64px 16px;
    
    --lato-font: "lato", sans-serif;
    --sagoe-font: "sagoe ui", sans-serif;
    
    --font-weight-400: 400;
    
    --section-heading-font-size: 1.875rem;
    --section-heading-letter-spacing: 4px;
    --section-heading-line-height: 1.5;
    
    --section-sub-heading-margin: 20px 0;
    --section-sub-heading-font-size: 0.938rem;
    --section-sub-heading-line-height: 1.53;
    --section-sub-heading-opacity: 0.6;
    --section-desc-margin: 15px 0 15px 0;
}