.band-container {
    width: var(--container-60-width);
    max-width: var(--container-60-max-width);
    padding: var(--container-60-padding);
    margin-left: auto;
    margin-right: auto;
}

.band-container h2 {
    font-family: var(--sagoe-font);
    text-transform: uppercase;
    font-size: var(--section-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-heading-line-height);
    letter-spacing: var(--section-heading-letter-spacing);
    text-align: center;
}

.band-sub-heading {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    font-style: italic;
    opacity: var(--section-sub-heading-opacity);
    text-align: center;
    margin: var(--section-sub-heading-margin);
}

.band-desc {
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    text-align: justify;
    margin: var(--section-desc-margin);
}

.band-card-container {
    display: flex;
    padding: 32px 0 32px 0;
}

.band-card {
    font-family: var(--lato-font);
    width: 33.3333%;
    text-align: center;
}

.band-card-container .band-card p {
    font-size: var(--section-sub-heading-font-size);
    line-height: var(--section-sub-heading-line-height);
}

.band-card img {
    width: 60%;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    
    .band-container {
        width: 100%;
    }
    
    .band-card-container {
        flex-direction: column;
    }
    
    .band-card {
        width: 100%;
    }
    
    .band-card img {
        width: 60%;
    }
}

