.tour-dates-container {
    background-color: black;
}

.tour-dates-contents {
    max-width: var(--container-60-max-width);
    padding: var(--container-60-padding);
    margin: 0 auto;
}

.tour-dates-container h2 {
    font-family: var(--sagoe-font);
    color: white;
    text-transform: uppercase;
    font-size: var(--section-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-heading-line-height);
    letter-spacing: var(--section-heading-letter-spacing);
    text-align: center;
    margin: 10px 0;
}

.tour-date-sub-heading {
    font-family: var(--lato-font);
    color: white;
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    font-style: italic;
    opacity: var(--section-sub-heading-opacity);
    text-align: center;
    margin: var(--section-sub-heading-margin);
    padding-bottom: 20px;
}

.ticket-status {
    background-color: white;
}

.ticket-status ul {
    list-style-type: none;
    border: 1px solid #ccc;
    font-family: var(--lato-font);
    font-size: var(--section-sub-heading-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--section-sub-heading-line-height);
    margin-top: var(--section-sub-heading-margin);
    margin-bottom: 0;
    padding: 0;
    color: #757575;
}

.ticket-status ul > li {
    padding: 8px 16px;
}

.ticket-status ul > li:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
}

.ticket-status ul > li:not(:last-child) span {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 8px 0 8px;
    text-align: center;
}

.ticket-status ul > li:last-child {
    display: flex;
}

.ticket-status ul > li:last-child span {
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 0 7px;
    border-radius: 100%;
}

.ticket-card-container {
    font-family: var(--lato-font);
    display: flex;
    column-gap: 15px;
    padding: 32px 0;
}

.ticket-card {
    background-color: white;
}

.ticket-card img {
    width: 100%;
}

.ticket-card-desc {
    padding: 0 16px;
}

.ticket-location {
    margin: 15px 0;
    font-weight: 700;
}

.ticket-date {
    margin: 15px 0;
    font-size: var(--section-sub-heading-font-size);
    line-height: var(--section-sub-heading-line-height);
    font-weight: var(--font-weight-400);
    opacity: 0.6;
}

.ticket-desc {
    margin: 15px 0;
    font-size: var(--section-sub-heading-font-size);
    line-height: var(--section-sub-heading-line-height);
    font-weight: var(--font-weight-400);
}

.buy-button {
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-size: var(--section-sub-heading-font-size);
    line-height: var(--section-sub-heading-line-height);
    font-weight: var(--font-weight-400);
    cursor: pointer;
}

.buy-button:hover {
    background-color: #ccc;
    color: black;
}

@media only screen and (max-width: 600px) {
    .ticket-card-container {
        flex-direction: column;
        row-gap: 20px;
    }
}
